<div class="btn-group">
    <button type="button" class="btn btn-primary">Units</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a onclick="showUnits(12)">12 Months</a></li>
        <li><a onclick="showUnits(9)">9 Months</a></li>
        <li><a onclick="showUnits(6)">6 Months</a></li>
        <li><a onclick="showUnits(3)">3 Months</a></li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-primary">Volume</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>

    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a onclick="showVolume(12)">12 Months</a></li>
        <li><a onclick="showVolume(9)">9 Months</a></li>
        <li><a onclick="showVolume(6)">6 Months</a></li>
        <li><a onclick="showVolume(3)">3 Months</a></li>
    </ul>
</div>

