@{
    ViewBag.Title = "Simple Toggle";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@{ Html.RenderPartial("commandButtons"); }
    <table id="pipelineData"></table>

@section scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetPipelineData")',
                dataType: "json",
                type: "POST",

                success: function (result) {
                    bindDataToTable(result, $("#pipelineData"));
                    showVolume();
                }
            });
        });
    </script>
}