@{
    ViewBag.Title = "Contact";
}
<hgroup class="title">
    <h1>Contact</h1>
  
</hgroup>
<div class="row">
    <section class="contact col-lg-3">
        <header>
            <h3>Phone</h3>
        </header>
        <p>
            <label>Main:</label>
            <span>425.555.0100</span>
        </p>
        <p>
            <label>After Hours:</label>
            <span>425.555.0199</span>
        </p>
    </section>

    <section class="contact col-lg-4">
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <label>Support:</label>
            <span><a href="mailto:Support@example.com">Support@example.com</a></span>
        </p>
        <p>
            <label>Marketing:</label>
            <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
        </p>
        <p>
            <label>General:</label>
            <span><a href="mailto:General@example.com">General@example.com</a></span>
        </p>
    </section>

    <section class="contact col-lg-3">
        <header>
            <h3>Address</h3>
        </header>
        <p>
            One Microsoft Way<br />
            Redmond, WA 98052-6399
        </p>
    </section>
</div>